.heading{
    /*border: 2px solid rebeccapurple;*/
    width: 900px;
    margin: 20px auto;
    background: rgb(197, 197, 199);
    padding: 5px;
    text-align: center;
}
.section-1,.section-2{
    width: 900px;
    margin: 20px auto;
    background: rgb(237, 237, 242);
    padding: 10px;

}
section h3{
    text-transform: uppercase;
}